﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* unvisited link */
a:link {
	color: #111;
}
/* visited link */
a:visited {
	color: #666;
}
/* mouse over link */
a:hover {
	color: #666;
}
/* selected link */
a:active {
	color: #555;
}
/* skip button mustn't be stamped as visited*/
a.skiplink:link {
	color: #111;
}
a.skiplink:visited {
	color: #111;
}
a.skiplink:hover {
	color: #111;
}
a.skiplink:active {
	color: #111;
}

.btn-primary {
	color: #ffffff;
	background-color: #111;
	border-color: #222;
}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.open .dropdown-toggle.btn-primary {
		color: #ffffff;
		background-color: #666;
		border-color: #777;
	}


form.form-inline {
	display: inline;
	margin: 0px;
	padding: 0px;
}
/* main centered div in the page*/
div.article-list-container {
	max-width: 520px;
	margin: 0 auto;
}

.article-title {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	display: inline;
}
/*
div{
	border: 1px solid;
}
/*Article in a div*/
div.article-div {
	position:relative;
	border: 1px solid;
	
	/*border-color:#a0a0a0;
	background-color:#f0f0f0;*/
	margin-top:16px;
	margin-bottom:8px;
	padding-left:8px;
}
div.article-div-left{
	
	
}

div.article-item-skipclose{
	position:absolute;
	top:0px; right:0px;/*height:50px;*/bottom:0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top:24px;
	/* vertical align*/
	
	border:1px solid;
	border-color:#c0c0c0;
	background-color:#d0d0d0;
	
}
 div.article-item-thankclose{
	position:absolute;
	top:50px; right:0px;bottom:0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top:24px;
	/* vertical align*/
	
	border:1px solid;
	border-color:#c0c0c0;
	background-color:#b0b0b0;
	
}
 div.article-div-title {								
	/*position:relative;
	top:0px;*/
	padding-top:12px;
	padding-bottom:12px;
	margin-right:80px;
}
div.article-div-item {								
	
}
div.article-item-end{/*To allow article-div-item to know when to end*/
	clear:both;
	padding-top:4px;
}
div.article-div-end{/*To allow article-div-item to know when to end*/
	clear:both;
	padding-top:8px;	
}
div.article-item-Score {
	float: left;
	padding-right: 8px;

}
div.article-item-Clock {
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}

div.article-item-host {
	float: left;
	padding-left: 0px;
	padding-right: 8px;
}




/* Article in main page*/
div.article-details-container{
	max-width: 520px;
	margin: 0 auto;
}
h1.article-details-title {
	font-family: "Arial Black", Gadget, sans-serif;
}

div.comment-owner
{
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	color:#a0a0a0;		
	font-size:32px;

	margin-top:32px;
	padding-top:16px;	
	padding-bottom:16px;	

	border-top: 1px solid;
	border-color: #a0a0a0;
	
}
div.comment 
{
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-size:22px;
	letter-spacing: 0.16px;
	line-height: 33px;

	padding-bottom:32px;	
			
}


/* Article in main page in a table*/
div.article-table-container{
	max-width: 800px;
	margin: 0 auto;
}