﻿@model WebApplication.Models.ArticleModel

@{var divId = "div" + Model.Id;}

<div class="article-div" id="@divId">

	@if (Model.CanBeClosed)
	{
		<a href="javascript:void(0)" onclick="skip(@Model.Id)" class="skiplink">
			<div class="article-item-skipclose">
				Skip
			</div>
		</a>
		<!--
		<a href="javascript:void(0)" onclick="thank(@Model.Id)" class="skiplink">
			<div class="article-item-thankclose">
				Thx
			</div>
		</a>
		-->
	}


	<div class="article-div-left">
		<div class="article-div-title">
			<h4 class="article-title">
				@Html.ActionLink(Model.Title, "Redirect/" + Model.Id.ToString(), "Article")
			</h4>
		</div>
		<div class="article-div-item">
			<div class="article-item-host">
				<small>@Model.Host</small>
			</div>
			@if (!string.IsNullOrEmpty(Model.Article.UrlComment))
			{
				<div class="article-item-host">
					<small><a href="@Model.Article.UrlComment">comments</a></small>
				</div>
			}
			<div class="article-item-end">
			</div>
		</div>
		<div class="article-div-item">
			<div class="article-item-Score">
				<img title="Score" src="@Url.Content("~/Content/Images/Happy.png")" /> @Model.Score
			</div>
			<div class="article-item-Clock">
				<img title="Time" src="@Url.Content("~/Content/Images/Clock.png")" /> @Model.Clock
			</div>

			<br />


			<div class="article-item-end">
			</div>
		</div>

		<div class="article-div-end">
		</div>
	</div>





</div>