﻿@{
	WebApplication.Models.ArticleModel article = ViewBag.Article;
	ViewBag.Title = article.Title;
}
<br />
<div class="article-details-container">

	<h1 class="article-details-title">
		@article.Title
	</h1>
	<p>@Html.ActionLink(article.Article.Url, "Article/" + article.Id.ToString(), "Redirect")</p>
	@if (!string.IsNullOrEmpty(article.Article.UrlComment))
	{
		<p><a href="@article.Article.UrlComment">On site comments</a></p>
	}
	
	
	<form style="width:100%;">
		<h2>Add a comment</h2><br>
		<input type="text" placeholder="Your name" required><br>
		<textarea style="width:100%;" rows="12"></textarea><br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	<div class="comment-owner">
		Angus457:
	</div>
	<div class="comment">
		<p>It's not just precious metals.</p>
	</div>
	<div class="comment-owner">
		Erac:
	</div>
	<div class="comment">
		<p>This file specifies the preferred style for kernel source files in the OpenBSD source tree. It is also a guide for preferred user land code style.</p>
		<p>These guidelines should be followed for all new code. In general, code can be considered “new code” when it makes up about 50% or more of the file(s) involved. This is enough to break precedents in the existing code and use the current style guidelines.</p>
	</div>
	
</div>












