﻿@{
	ViewBag.Title = "News";
}
<br />
<div class="article-list-container">
	<div id="maindiv">
		@foreach (var article in ViewBag.ArticleList)
		{
			Html.RenderPartial("_Article", (object)article);
		}
	</div>
		<br />
		@using (Html.BeginForm("Next", "Article", FormMethod.Post, new { @class = "form-inline", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<input type="submit" value="Next" class="btn btn-primary btn-lg" title="Next" />
		}
</div>











<script type="text/javascript">
	function thank(id) {
		skipThank(id, "1");
	}
	function skip(id) {
		skipThank(id, "0");
	}
	function skipThank(id, thank) {
		$.post('@Url.Action("SkipThankAjax", "Article")', { articleId: id, thank: thank })
		 .done(function (data) {
		 	$("#maindiv").append(data)
		 })
		.fail(function (xhr, textStatus, errorThrown) {
			if (window.console && window.console.log) {
				console.log("Error: " + xhr.responseText);
			}
		});
		$("#div" + id).animate(
			{
				height: "0px",
				width: "0px",
				opacity: 0,		
				fontSize: "0em",
				padding: "0px",
				margin: "0px",

			},
			{
				duration: 300,
				complete: function ()
				{
					$("#div" + id).remove();
				}
			}
		);
	}
	
</script>
<!-- Force reload when back is pressed -->
<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
	onload = function () {
		var e = document.getElementById("refreshed");
		if (e.value == "no") {
			e.value = "yes";
		}
		else {
			e.value = "no";
			location.reload();
		}
	}
</script>
