﻿@{
	ViewBag.Title = "News";
}
<br />
<div class="article-table-container">

	<table class="table">
		<tr>
			<th><img title="Score" src="@Url.Content("~/Content/Images/Happy.png")" /></th>
			<th>Title</th>
			<th>Host</th>
			<th><img title="Time" src="@Url.Content("~/Content/Images/Clock.png")" /></th>
			<th>Liked?</th>
		</tr>
		@foreach (WebApplication.Models.ArticleModel article in ViewBag.ArticleList)
		{
			var likedImg = article.Liked ? "UpChecked.png" : "UpUnchecked.png";
			var dislikedImg = article.Disliked ? "DownChecked.png" : "DownUnchecked.png";

			<tr>
				<td style="font-size:small">
					@article.Score
				</td>
				<td>@Html.ActionLink(article.Title, "Article/" + article.Id.ToString(), "Redirect")</td>
				<td style="font-size:x-small">@article.Host</td>
				<td style="font-size:x-small">@article.Clock</td>
				<td>
					<a href="javascript:void(0)" onclick="like(1, @article.Id)"><img title="Like" src="@Url.Content("~/Content/Images/" + likedImg)" id="@("like" + article.Id)" /></a>
					<a href="javascript:void(0)" onclick="like(-1, @article.Id)"><img title="Dislike" src="@Url.Content("~/Content/Images/" + dislikedImg)" id="@("dislike" + article.Id)" /></a>
				</td>
			</tr>
		}
	</table>


	<br />
	@using (Html.BeginForm("Next", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
	{
		@Html.AntiForgeryToken()
		<input type="submit" value="Next" class="btn btn-primary btn-lg" title="Next" />
	}
</div>











<script type="text/javascript">
	function like(score, id) {
		$.post('@Url.Action("Like", "Home")', { score: score, articleId: id })
        .done(function (data) {
        	//alert("done: " + data);
        });
		if (score > 0) {
			$("#like" + id).attr('src', '@Url.Content("~/Content/Images/UpChecked.png")');
			$("#dislike" + id).attr('src', '@Url.Content("~/Content/Images/DownUnchecked.png")');
		} else {
			$("#like" + id).attr('src', '@Url.Content("~/Content/Images/UpUnchecked.png")');
			$("#dislike" + id).attr('src', '@Url.Content("~/Content/Images/DownChecked.png")');
		}
	}
</script>
