﻿
@{
	ViewBag.Title = "Visited";
}
<br />
<div class="article-list-container">
	@foreach (var article in ViewBag.ArticleList)
	{
		Html.RenderPartial("_Article", (object)article);
	}
</div>











<script type="text/javascript">
	function like(score, id) {
		$.post('@Url.Action("Like", "Article")', { score: score, articleId: id })
        .done(function (data) {
        	//alert("done: " + data);
        });
		if (score > 0) {
			$("#like" + id).attr('src', '@Url.Content("~/Content/Images/UpChecked.png")');
			$("#dislike" + id).attr('src', '@Url.Content("~/Content/Images/DownUnchecked.png")');
		} else {
			$("#like" + id).attr('src', '@Url.Content("~/Content/Images/UpUnchecked.png")');
			$("#dislike" + id).attr('src', '@Url.Content("~/Content/Images/DownChecked.png")');
		}
	}
</script>
